<h1 class="mt-5">Selectores Anidados</h1>
<hr />
<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <!-- REGION -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente:</label>
      <select class="form-control" formControlName="region">
        <option value="">-- Seleccione Continente --</option>
        <option *ngFor="let region of regiones" [value]="region | lowercase">
          {{ region }}
        </option>
      </select>
    </div>
  </div>
  <!-- PAISES -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Pais:</label>
      <select class="form-control" formControlName="pais">
        <option value="">-- Seleccione Pais --</option>
        <option *ngFor="let pais of paises" [value]="pais.cca3">
          {{ pais.name.common }}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end mb3" type="submit">
        Seleccionar
      </button>
    </div>
  </div>
</form>

<h3>Formulario</h3>
<span class="badge text-bg-primary">Valid</span>
<span>{{ miFormulario.valid }}</span>
<pre>{{ miFormulario.value | json }}</pre>
